# Environments
venv32/
venv/
#.env

# Cache
__pycache__/
*.pyc

# DB & Logs
executions.db
ai_features.db
logs/
stderr.log

# IDE & Misc
.vscode/
.idea/
scratch/
=

# Backtest Logs & Models
backtest_*.txt
*.csv
*.db
*.pkl
